{{- $releaseName := .Release.Name -}}
{{- $chartName := include "gpkg-merger.name" . -}}
{{- $configmapName := include "configmap.fullname" . }}
{{- $deploymentName := include "deployment.fullname" . }}
{{- $cloudProviderFlavor := include "gpkg-merger.cloudProviderFlavor" . -}}
{{- $cloudProviderDockerRegistryUrl := include "gpkg-merger.cloudProviderDockerRegistryUrl" . -}}
{{- $cloudProviderImagePullSecretName := include "gpkg-merger.cloudProviderImagePullSecretName" . -}}
{{- $imageTag := include "gpkg-merger.tag" . -}}
{{- if .Values.enabled -}}
{{- $s3 := (include "common.s3.merged" .) | fromYaml }}
{{- $fs := (include "common.fs.merged" .) | fromYaml }}
{{- $storage := (include "common.storage.merged" .) | fromYaml }}

{{- /* PVC handling - check if both PVCs point to the same claim */ -}}
{{- $samePvc := and $fs.ingestionSourcePvc.enabled $fs.internalPvc.enabled (eq $fs.internalPvc.name $fs.ingestionSourcePvc.name) }}
{{- $internalVolumeName := ternary "ingestion-storage" "internal-storage" $samePvc }}

{{ $gpkgPath := clean (printf "/%s/%s" $fs.internalPvc.mountPath $fs.ingestionSourcePvc.gpkgSubPath) }}
{{ $tilePath := clean (printf "/%s/%s" $fs.internalPvc.mountPath $fs.internalPvc.tilesSubPath) }}
{{ $ingestionSourcePath := clean (printf "/%s/%s" $fs.ingestionSourcePvc.mountPath $fs.ingestionSourcePvc.subPath) }}
{{ $sources := ternary $tilePath $ingestionSourcePath .Values.isExporter }}


apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $deploymentName }}
  labels:
    app: {{ $chartName }}
    component: {{ $chartName }}
    environment: {{ include "gpkg-merger.environment" . }}
    release: {{ $releaseName }}
    {{- include "gpkg-merger.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ $chartName }}
      release: {{ $releaseName }}
      run: {{ $releaseName }}-{{ $chartName }}
      {{- include "gpkg-merger.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: {{ $chartName }}
        release: {{ $releaseName }}
        run: {{ $releaseName }}-{{ $chartName }}
        {{- include "gpkg-merger.selectorLabels" . | nindent 8 }}
      annotations:
        {{ include "mclabels.annotations" . | nindent 8 }}
      {{- if .Values.resetOnConfigChange }}
        checksum/configmap: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- if .Values.podAnnotations }}
        {{- toYaml .Values.podAnnotations | nindent 8 }}
        {{- end }}
      {{- end }}
    spec:
      {{- if .Values.global.useNodeAffinity }}
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: nodeAffinity
                operator: In
                values:
                - nodeAffinityPod
            topologyKey: kubernetes.io/hostname
      {{- end }}
    {{- if $cloudProviderImagePullSecretName }}
      imagePullSecrets:
        - name: {{ $cloudProviderImagePullSecretName | quote }}
    {{- end }}
      volumes:
      {{- if $fs.ingestionSourcePvc.enabled }}
      - name: ingestion-storage
        persistentVolumeClaim:
          claimName: {{ $fs.ingestionSourcePvc.name }}
      {{- end }}
      {{- if and $fs.internalPvc.enabled (not $samePvc) }}
      - name: internal-storage
        persistentVolumeClaim:
          claimName: {{ $fs.internalPvc.name }}
      {{- end }}    
      {{- if .Values.global.ca.secretName }}
      - name: root-ca
        secret:
          secretName: {{ .Values.global.ca.secretName }}
      {{- end }}
    #   nodeSelector:
    #     knownNode: eastus-1-node-1
      containers:
        - name: {{ $chartName }}
          {{- with .Values.image }}
          image: {{ $cloudProviderDockerRegistryUrl }}{{ .repository }}:{{ .tag }}
          {{- end }}
          env:
            {{- if .Values.global.ca.secretName }}
            - name: SSL_CERT_DIR
              value: {{ .Values.global.ca.path | quote }}
            {{- end }} 
            - name: SERVER_PORT
              value: "8080"
            - name: GENERAL__inputPath
              value: {{ $sources }}
            - name: GENERAL__gpkgPath
              value: {{ $gpkgPath }}
            - name: GENERAL__batchSize__batchMaxSize
              value: {{ .Values.env.general.batchSize.batchMaxSize | quote }}
            - name: GENERAL__batchSize__limitBatchSize
              value: {{ .Values.env.general.batchSize.limitBatchSize | quote }}
            - name: GENERAL__batchMaxBytes
              value: {{ .Values.env.general.batchMaxBytes | int64 | quote }}
            - name: GENERAL__filePath
              value: {{ $tilePath }}
            {{- if eq $storage.tilesStorageProvider "S3"}}  
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: {{ $s3.secretName }}
                  key: accessKeyId
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ $s3.secretName }}
                  key: secretAccessKey
            {{- end }}      
          envFrom:
            - configMapRef:
                name: {{ $configmapName }}
          imagePullPolicy: "Always"
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          volumeMounts:
          {{- if $fs.ingestionSourcePvc.enabled }}
            - name: ingestion-storage
              mountPath: {{ $fs.ingestionSourcePvc.mountPath }}
          {{- end }}
          {{- if $fs.internalPvc.enabled }}
            - name: {{ $internalVolumeName }}
              mountPath: {{ $fs.internalPvc.mountPath }}
          {{- end }}
            {{- if .Values.global.ca.secretName }}
            - name: root-ca
              mountPath: {{ printf "%s/%s" .Values.global.ca.path .Values.global.ca.key | quote }}
              subPath: {{ .Values.global.ca.key | quote }} 
            {{- end }} 
          {{- if .Values.resources.enabled }}
          resources:
            {{- toYaml .Values.resources.value | nindent 12 }}
         {{- end }}
{{- end -}}
