global:
  cloudProvider: {}
  tracing: {}
  metrics: {}
  environment: ""
  useNodeAffinity: false
  storage:
    tilesStorageProvider: ""
    fs:
      ingestionSourcePvc:
        name: ""
        subPath: ""
      internalPvc:
        name: ""
        tilesSubPath: ""
        gpkgSubPath: ""
    s3:
      endpointUrl: ""
      tilesBucket: ""
      secretName: ""
      sslEnabled: false
      request:
        timeoutSec: 5
        retries: 3
      logToConsole: false
      storageClass: ""
  serviceUrls:
    jobManager: ""
    heartbeatManager: ""
  ca:
    secretName: ''
    path: '/usr/local/share/ca-certificates'
    key: 'ca.crt'


mclabels:
  #environment: development
  component: backend
  partOf: ingestion
  owner: raster
  gisDomain: raster
  prometheus:
    enabled: true
    port: 8080

enabled: true
environment: development
replicaCount: 1
initialDelaySeconds: 60
nodePort: 30011
resetOnConfigChange: true
isExporter: false

cloudProvider:
  dockerRegistryUrl: 'my-registry'
  imagePullSecretName: 'my-registry-secret'
  flavor: openshift

image:
  repository: gpkg-merger
  tag: 'latest'

serviceUrls:
  jobManager: ""
  heartbeatManager: ""

storage:
  tilesStorageProvider: ""
  fs:
    ingestionSourcePvc:
      enabled: false
      name: ""
      subPath: ""
    internalPvc:
      enabled: false
      name: ""
      tilesSubPath: ""
      gpkgSubPath: ""
  s3:
    endpointUrl: ""
    tilesBucket: ""
    secretName: ""
    sslEnabled: false
    request:
      timeoutSec: 5
      retries: 3
    logToConsole: false
    storageClass: ""

# add pod annotations
# example:
# podAnnotations:
  # annotation1: annotation-value-1
  # annotation2: annotation-value-2
podAnnotations: {}

env:
  protocol: TCP
  general:
    validate: true
    batchMaxBytes: 838860800 # 800MB
    batchSize:
      limitBatchSize: true
      batchMaxSize: 1000
  TASK:
    types:
      - jobType: 'Ingestion_Update'
        taskType: 'tilesMerging'
      - jobType: 'Ingestion_New'
        taskType: 'tilesMerging'
    pollingTime: 1000
    maxAttempts: 3
  heartbeat:
    intervalMs: 300
  HTTP:
    retries: 2
  logging:
    logLevel:
      default: "Information"
      aspNetCore: "Warning"
  tracing:
    enabled: false
    url: http://localhost:4317/v1/trace
    ratio: 0.01
  metrics:
    enabled: true
    scrape: true
    port: 9500
    measurementBuckets: "[0.001, 0.005, 0.01, 0.025, 0.05, 0.1, 0.25, 0.5, 1, 2.5, 5, 10, 15, 50,250, 500]"

resources:
  enabled: true
  value:
    limits:
      cpu: "1"
      memory: 4Gi
    requests:
      cpu: "1"
      memory: 4Gi

route:
  enabled: false
  path: /
  timeout:
    enabled: false # defaults to 30s by openshift
    duration: 60s # supported units (us, ms, s, m, h, d)
    
local:
  s3:
    secret:
      create: false
      accessKeyId: minikube
      secretAccessKey: minikube
  storage:
    internalPv:
      create: false #for local deployment only
      name: local-tiles-pv
      storage: 5Gi
      hostPath: '/tiles' #tiles hostPatch
    ingestionPv:
      create: false #for local deployment only
      name: local-sources-pv
      storage: 5Gi
      hostPath: /layerSources
    internalPvc:
      create: false #for local deployment only
      storage: 4Gi
    ingestionSourcePvc:
      create: false #for local deployment only
      storage: 4Gi
    accessModes: ReadWriteMany
    storageClassName: host-path
