name: Build and push artifacts

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      version:
        required: false
        type: string

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Artifactory Login
        uses: MapColonies/shared-workflows/actions/artifactory-login@artifactory-login-v1.0.0
        with:
          registry: ${{ secrets.ACR_URL }}
          username: ${{ secrets.ACR_PUSH_USER }}
          password: ${{ secrets.ACR_PUSH_TOKEN }}

      - name: Build Service Docker Image
        id: build-service
        uses: MapColonies/shared-workflows/actions/build-docker@build-docker-v1.1.0
        with:
          domain: raster
          registry: ${{ secrets.ACR_URL }}
          context: "-f MergerService/Dockerfile ."
          repository: tiles-merger-service

      - name: Push Service Docker Image
        uses: MapColonies/shared-workflows/actions/push-docker@push-docker-v1.0.1
        with:
          image_name: ${{ steps.build-service.outputs.docker_image_full_name }}
          image_tag: ${{ steps.build-service.outputs.docker_image_tag }}

      - name: Build CLI Docker Image
        id: build-cli
        uses: MapColonies/shared-workflows/actions/build-docker@build-docker-v1.1.0
        with:
          domain: raster
          registry: ${{ secrets.ACR_URL }}
          context: "-f MergerCli/Dockerfile ."
          repository: tiles-merger-cli

      - name: Push CLI Docker Image
        uses: MapColonies/shared-workflows/actions/push-docker@push-docker-v1.0.1
        with:
          image_name: ${{ steps.build-cli.outputs.docker_image_full_name }}
          image_tag: ${{ steps.build-cli.outputs.docker_image_tag }}

      - name: Build and Push Helm Chart
        uses: MapColonies/shared-workflows/actions/build-and-push-helm@build-and-push-helm-v1.0.1
        with:
          context: ./helm
          domain: raster
          registry: ${{ secrets.ACR_URL }}

      - name: Update Artifacts File - Service Docker
        uses: MapColonies/shared-workflows/actions/update-artifacts-file@update-artifacts-file-v1.1.1
        with:
          domain: raster
          artifact_name: tiles-merger-service
          artifact_tag: ${{ github.ref_name }}
          type: docker
          registry: ${{ secrets.ACR_URL }}
          github_token: ${{ secrets.GH_PAT }}

      - name: Update Artifacts File - CLI Docker
        uses: MapColonies/shared-workflows/actions/update-artifacts-file@update-artifacts-file-v1.1.1
        with:
          domain: raster
          artifact_name: tiles-merger-cli
          artifact_tag: ${{ github.ref_name }}
          type: docker
          registry: ${{ secrets.ACR_URL }}
          github_token: ${{ secrets.GH_PAT }}

      - name: Update Artifacts File -Service Helm
        uses: MapColonies/shared-workflows/actions/update-artifacts-file@update-artifacts-file-v1.1.1
        with:
          domain: raster
          artifact_name: tiles-merger-service
          artifact_tag: ${{ github.ref_name }}
          type: helm
          registry: ${{ secrets.ACR_URL }}
          github_token: ${{ secrets.GH_PAT }}
