name: pull_request
on: [pull_request]

jobs:
  dotnet-format:
    name: Run .NET Format Check
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dotnet-version: ["6.0.x"]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Check formatting
        run: dotnet format --verify-no-changes --verbosity diagnostic

  helm-lint:
    name: Run Helm lint Check
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Helm Lint Checks
        uses: MapColonies/shared-workflows/actions/helm-lint@helm-lint-v1

  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dotnet-version: ["6.0.x"]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Run tests
        run: dotnet test --no-restore --verbosity normal --logger "trx;LogFileName=test-results.trx" --results-directory ./TestResults

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Test Results ${{ matrix.dotnet-version }}
          path: ./TestResults/**

  build_docker_image:
    name: Build Docker Images
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - name: Build Service Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: MergerService/Dockerfile
          push: false
          tags: test-build-service:latest

      - name: Build CLI Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: MergerCli/Dockerfile
          push: false
          tags: test-build-cli:latest
